h1 {
    text-align:center;
    background-color: rgb(206, 203, 9);
    color:rgb(12, 86, 3)
}

body {     
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: #970101;
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.menu a {
    padding: 0.5rem 1rem; 
    color: white;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0,4 ease; 
}

.menu a:hover {
    background: #982d2d
}
#boton {
   background: rgb(70, 184, 70);
   color: white;
   border-radius: 5px;
   padding: 0.5rem 1.5rem;
   margin: 1rem;  
   cursor: pointer;
   transition: background-color 0,4 ease;
}
#boton:hover{
    background: green;
}
#alta {
   background: rgb(8, 24, 140);
   color: rgb(237, 239, 233);
   padding: 0,5rem 1rem;
   margin-bottom: 1rem;
   border-radius: 5px;
   cursor: pointer;
}
.tarjeta {
    padding: 5px;
    width: 500px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgb(1, 0, 8);
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
.enlinea {
    display: flex;
}
.lema {
    padding: 5px;
    width: 500px;
    border-radius: 9px;
    box-shadow: 0 4px 12px rgb(1, 0, 8);
    margin: 10px;
    background: #970101;
    color: white;
    cursor: pointer;
    text-align: center;
}
.img {
    height: auto;
    width: 50px;
}